/*********************************************************************
 *                 Carte Bloodlust CSS                                *
 * Author     : Cyol http://cyol.fr/blog                             *
 * Licence    : CC BY http://creativecommons.org/licenses/by/3.0/fr/ *
 *********************************************************************/
html, body, #map {
    width:100vw; height:100vh; margin:0; padding:0; z-index: 1;
    cursor: default;
}

h1{
    top:5px;
    right:5px;
    z-index:2;
    position:absolute;
    width: 30%;
}
h1> img{
    width: 100%;
    max-width:300px;
}

.leaflet-marker-icon {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
}
.search-tip {
    white-space: nowrap;
}

.leaflet-popup-content>h2{
    text-align: center;
}
.leaflet-popup-content>ul{
    padding-left: 10px;
}
.leaflet-control-layers-list .reserve,
.leaflet-popup-content .reserve{
    color: red;
}

.leaflet-control-layers-list .layerEdLGroupe{
    font-weight: bold;
}
.leaflet-control-layers-list .layerEdL{
    margin-left: 15px;
}